
:root {
  --timing: 0.08s;
  --tagoff: #2F689C;
  --tagon: #1496BA;
  --plain: #9BADBB;
}

.tag {
  display: inline-block;
  position: relative;
  margin: 0 0.5rem 0.5rem 0;
}

.tag-filter input[type=checkbox] {
  opacity: 0;
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag-filter input[type=checkbox]:hover + label {
  background: #27649C;
}

.tag label {
  z-index: 200;
  color: white;
  display: block;
  background: var(--tagoff);
  text-transform: uppercase;
  margin: 0;
  line-height: 1.25;
}

.tag-plain label {
  font-size: 0.75rem;
  padding: 7px;
  background: var(--plain);
}

.tag-filter label{
  font-size: 1rem;
  padding: 7px 34px 7px 14px;
  position: relative;
  border-radius: 16px;
  transition: all var(--timing) ease-in;
}

.tag .fa {
  position: absolute;
  z-index: 250;
  right: 15px;
  top: 9px;
  color: white;
}

.tag .fa-check {
  display: none;
  right: 12px;
  top: 9px;
  transition: all var(--timing) ease-in;
}


.tag input[type=checkbox]:checked + label {
  background: var(--tagon);
  animation: toggle var(--timing);
}

.tag input[type=checkbox]:checked ~ .fa-plus {
  display: none;
}

.tag input[type=checkbox]:checked ~ .fa-check {
  animation: toggle var(--timing);
  display: block;
}

@keyframes toggle {
  0%   {}
  100% {transform: scale(1);}
}
